/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: red;
}

.bold {
  font-weight: bold;
}

main{
  text-align: center;
}
form {
  text-align: center;
  padding: 15px;
  background-color: #ddaaaa;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  border-radius: 3px;
}

button {
  font-size: 16px;
  padding: 10px;
  border-radius: 50%;
  background-color: #abcdab;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: #cfcfcf;
}

button:active {
  box-shadow: none;
}